#_next {
  background: #000;
}

.main {
  /* position: relative;
  left: 50%; */
  /* transform: translate(-50%, -50%); */

  /* padding-top: 60%; */

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* font-family: "Courier New", Courier, monospace; */
  font-family: "Sequel 100 Wide", sans-serif;
  color: #ffffff;
  text-align: center;
}

.webgl {
  z-index: -1;
  position: absolute;

}

.pageTwo {
  background-color: black;
  height: 800px;
}

.footer {
  position: fixed;
  /* bottom: -30%; */
  display: flex;
  padding: 5px 0;
  border-top: 0.3px solid #9c9c9c;
  justify-content: center;
  align-items: center;
  color: #9c9c9c;
}

.image {
  width: 70%;
  height: 50%;
  margin-left: 20%;
}

.input {
  height: 40px;
  padding: 1%;
  margin: 2%;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.typeIt {
  width: 100vh;
  height: 100vh;
  padding-top: 100vh;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Sequel 100 Wide";
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem 0;
  color: #eaeaeae5;
  background: transparent;
}



.description {
  line-height: 1;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
}

.wrapper {
  position: absolute;
  left: 50%;
  bottom: -35%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;

  background-color: #1a1a1a;
  border-radius: 5%;
  padding: 10px;
}

.wrapperOne {
  left: 40%;
  display: flex;
}

.wrapperTwo {
  display: flex;
}

.assetsPurple {
  position: absolute;
  bottom: 5%;
  left: -20%;
}

.assetsPurpleSmall {
  position: absolute;
  bottom: 5%;
  left: 20%;
  height: 70px !important;
}

.Home_assetsPurple__8Z54J {
  position: absolute;
  top: -50%;
  left: 40%;
}

.Home_assetsPurpleBig__gkdNX {
  position: absolute !important;
  top: 10%;
}

.assetsPurpleBig {
  height: 200px;
}

.assets {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  line-height: 30px;
}

.inputDiv {
  /* width: 200px; */
  /* height: 100%; */
  padding: 1%;
  margin: 2%;
  border: lightslategray;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.select {
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  padding: 5px;
  width: 175px;
  cursor: pointer;
  margin: 2%;
}

.button {
  border-radius: 20px;
  background-color: #ffffff;
  border: none;
  color: #000000e5;
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  margin: 2%;

}

.button1 {
  border-radius: 20px;
  background-color: #8352FD;
  border: none;
  color: #000000e5;
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
  width: 100px;
  width: 100px;
  cursor: pointer;
  margin: 2%;
}

@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}